*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: "Segoe UI", sans-serif;
    background:#f5f6f8;
    color:#263238;
}

.container{
    max-width:1000px;
    margin:0 auto;
    padding:20px;
}

.header{
    background:#7a1433;
    color:white;
    padding:25px;
    border-radius:18px;
    margin-bottom:25px;
}

.header h1{
    font-size:32px;
    margin-bottom:5px;
}

.header p{
    opacity:.9;
}

.botones{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.botones button{
    flex:1;
    border:none;
    padding:16px;
    border-radius:12px;
    font-size:18px;
    font-weight:600;
    cursor:pointer;
    transition:.2s;
}

.activo{
    background:#7a1433;
    color:white;
}

.botones button:not(.activo){
    background:white;
    color:#444;
}

#busqueda{
    width:100%;
    padding:18px;
    border:1px solid #ccc;
    border-radius:14px;
    font-size:20px;
    margin-bottom:20px;
}

.card{
    background:white;
    border-radius:18px;
    padding:25px;
    margin-bottom:18px;
    box-shadow:0 4px 14px rgba(0,0,0,.08);
}

.materia{
    font-size:22px;
    font-weight:700;
    color:#082f64;
    margin-bottom:20px;
}

.aula-label{
    color:#666;
    font-size:14px;
    text-transform:uppercase;
    letter-spacing:1px;
    margin-bottom:5px;
}

.aula{
    font-size:56px;
    font-weight:700;
    color:#7a1433;
    margin-bottom:20px;
}

.info{
    margin-bottom:10px;
    font-size:17px;
}

.sin-resultados{
    background:white;
    padding:30px;
    border-radius:18px;
    text-align:center;
}

#filtroFecha{
    width:100%;
    padding:18px;
    border:1px solid #ccc;
    border-radius:14px;
    font-size:18px;
    margin-bottom:15px;
    background:white;
}

@media(max-width:768px){

    .materia{
        font-size:18px;
    }

    .aula{
        font-size:42px;
    }

    .botones{
        flex-direction:column;
    }

}
